#opaque {
    -fx-background-color: #212121;
}

#labelJour {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#labelJourW {
    -fx-text-fill: white;
}

.toggle-button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-min-height: 80;
    -fx-min-width: 80;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-underline: true;
}

.toggle-button:hover {
    -fx-underline: true;
}

#today:hover {
    -fx-underline: true;
}

#today:selected {
    -fx-underline: true;
}

#dateW {
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

#dateHorsMois, #dateHorsMoisW {
    -fx-font-weight: normal;
    -fx-text-fill: #474747;
}

#dateHorsMois:hover {
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-font-weight: bold;
}

#dateHorsMoisW:hover {
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-font-weight: normal;
}

#today {
    -fx-text-fill: #40E0D0;
}

#todayW {
    -fx-text-fill: #40E0D0;
    -fx-font-weight: normal;
}